<div class="gallery-wrapper">
  <app-image-selected
    [actualImage]="selectedImage"
    [zoom]="actualZoom"
  ></app-image-selected>
  <div>
    <app-image-list
      [images]="imagesList"
      [actualIndex]="actualPosition"
      (listClick)="handleListClick($event)"
    ></app-image-list>
    <app-gallery-actions
      [imagesLength]="imagesList.length"
      [actualIndex]="actualPosition"
      (navigateClick)="handleNavigationClick($event)"
      (zoomClick)="handleZoomClick($event)"
    ></app-gallery-actions>
  </div>
</div>
